
<body>


<form>
	<div id='cardOne'>
		<h1>Hello!</h1>
		<h2>We are collecting information about Southwark Friends' IT skills and what you would like to learn. Please answer the following questions so we can make our future IT sessions more relevant for you, and hopefully put together some classes that will be useful for you.</h2>
		<h3>What's your name?</h3> <input type='text' name='name' class='inputBox'><br>
		<h3>What's your email address?</h3> <input type='text' name='email' class='inputBox'><br>
		<input type='submit' value='Start' class='startButton'>
	</div>
	<div id='cardTwo'>
		<h3>How would you describe your current level of confidence using technology?<br></h3>
			<p><input type='checkbox' name='confidence' value='none'> Not at all confident, technology is scary<br></p>
			<p><input type='checkbox' name='confidence' value='little'> I feel ok about doing a few basic things, but most technology stuff is a bit of a mystery to me<br></p>
			<p><input type='checkbox' name='confidence' value='more'> I feel happy doing a range of things on my devices, but some things still confuse me<br></p>
			<p><input type='checkbox' name='confidence' value='most'> I am confident using technology and enjoy trying new things<br></p>
	</div>
	<div id='cardThree'>
		<h3>What devices do you currently use? <br></h3>
			<p><input type='checkbox' name='devices' value='desktop'> A desktop computer<br></p>
			<p><input type='checkbox' name='devices' value='laptop'> A laptop computer<br></p>
			<p><input type='checkbox' name='devices' value='tablet'> A tablet<br></p>
			<p><input type='checkbox' name='devices' value='phone'> A mobile phone<br></p>
		<h3>If you know, please tell us who made your device (eg. Apple, Dell, Samsung)</h3> <input type='text' name='deviceManufacturer' class='inputBox'><br>
		<h3>The device I use the most often is (please choose one from the list above)</h3>  <input type='text' name='mostUsedDevice' class='inputBox'><br>
	</div>
	<div id='cardFour'>
		<h3>Please select which things you already feel confident doing (on the whole!)<br></h3>
			<p><input type='checkbox' name='goodTasks' value='browsing'> Browsing the internet<br></p>
			<p><input type='checkbox' name='goodTasks' value='email'> Sending and receiving emails<br></p>
			<p><input type='checkbox' name='goodTasks' value='facebook'> Using Facebook<br></p>
			<p><input type='checkbox' name='goodTasks' value='twitter'> Using Twitter<br></p>
			<p><input type='checkbox' name='goodTasks' value='shopping'> Online shopping<br></p>
			<p><input type='checkbox' name='goodTasks' value='meetup'> Using Meetup<br></p>
			<p><input type='checkbox' name='goodTasks' value='word'> Word processing<br></p>
			<p><input type='checkbox' name='goodTasks' value='banking'> Online banking<br></p>
			<p><input type='checkbox' name='goodTasks' value='camera'> Using a digital camera<br></p>
			<p><input type='checkbox' name='goodTasks' value='photos'> Organising and editing digital photos<br></p>
			<p><input type='checkbox' name='goodTasks' value='phone'> Using a smart phone for online browsing, camera, etc<br></p>
			<p> Other <input type='text' name='goodTasks' class='inputBox'><br></p>
	</div>
	<div id='cardFive'>
		<h3>Please select which things you would like to learn about<br></h3>
			<p><input type='checkbox' name='goodTasks' value='browsing'> Browsing the internet<br></p>
			<p><input type='checkbox' name='goodTasks' value='email'> Sending and receiving emails<br></p>
			<p><input type='checkbox' name='goodTasks' value='facebook'> Using Facebook<br></p>
			<p><input type='checkbox' name='goodTasks' value='twitter'> Using Twitter<br></p>
			<p><input type='checkbox' name='goodTasks' value='shopping'> Online shopping<br></p>
			<p><input type='checkbox' name='goodTasks' value='meetup'> Using Meetup<br></p>
			<p><input type='checkbox' name='goodTasks' value='word'> Word processing<br></p>
			<p><input type='checkbox' name='goodTasks' value='banking'> Online banking<br></p>
			<p><input type='checkbox' name='goodTasks' value='camera'> Using a digital camera<br></p>
			<p><input type='checkbox' name='goodTasks' value='photos'> Organising and editing digital photos<br></p>
			<p><input type='checkbox' name='goodTasks' value='phone'> Using a smart phone for online browsing, camera, etc<br></p>
			<p><input type='checkbox' name='goodTasks' value='layout'> How to create visual layouts for documents<br></p>
			<p><input type='checkbox' name='goodTasks' value='coding'> How design and build websites<br></p>
			<p> Other (this could include specific websites like ebay or a specific task like organising my calendar) <input type='text' name='goodTasks' class='inputBox'><br></p>
	</div>	
</form>
<h2> Thanks </h2>

<input type='submit' value='Submit'>

</body>