
<body>

<h1>IT Skills</h1>

<p>Tell us more about what you know and what you would like to learn so we can make the sessions more useful for you</p>

<form>

	What's your name? <input type='text' name='name'><br>
	What's your email address? <input type='text' name='email'><br>
	How would you describe your current level of confidence using technology?
		<input type='checkbox' name='confidence' value='none'>Not at all confident, technology is scary<br>
		<input type='checkbox' name='confidence' value='little'>I feel ok about doing a few basic things, but most technology stuff is a bit of a mystery to me<br>
		<input type='checkbox' name='confidence' value='more'>I feel happy doing a range of things on my devices, but some  things still confuse me<br>
		<input type='checkbox' name='confidence' value='most'>I am confident using technology and enjoy trying new things<br>
	What devices do you currently use? 
		<input type='checkbox' name='devices' value='desktop'>A desktop computer<br>
		<input type='checkbox' name='devices' value='laptop'>A laptop computer<br>
		<input type='checkbox' name='devices' value='tablet'>A tablet<br>
		<input type='checkbox' name='devices' value='phone'>A mobile phone<br>
	If you know, please let us know who made your device (eg. Apple, Dell, Samsung) <input type='text' name='deviceManufacturer'>
	The device I use the most often is (please choose one from the list above) <input type='text' name='mostUsedDevice'>
	Please select which things you already feel confident doing (on the whole!)
		<input type='checkbox' name='goodTasks' value='browsing'>Browsing the internet<br>
		<input type='checkbox' name='goodTasks' value='email'>Sending and receiving emails<br>
		<input type='checkbox' name='goodTasks' value='facebook'>Using Facebook<br>
		<input type='checkbox' name='goodTasks' value='twitter'>Using Twitter<br>
		<input type='checkbox' name='goodTasks' value='shopping'>Online shopping<br>
		<input type='checkbox' name='goodTasks' value='meetup'>Using Meetup<br>
		<input type='checkbox' name='goodTasks' value='word'>Word processing<br>
		<input type='checkbox' name='goodTasks' value='banking'>Online banking<br>
		<input type='checkbox' name='goodTasks' value='camera'>Using a digital camera<br>
		<input type='checkbox' name='goodTasks' value='photos'>Organising and editing digital photos<br>
		<input type='checkbox' name='goodTasks' value='phone'>Using a smart phone for online browsing, camera, etc<br>
		Other <input type='text' name='goodTasks' value='other'><br>
	Please select which things you would like to learn about
		<input type='checkbox' name='goodTasks' value='browsing'>Browsing the internet<br>
		<input type='checkbox' name='goodTasks' value='email'>Sending and receiving emails<br>
		<input type='checkbox' name='goodTasks' value='facebook'>Using Facebook<br>
		<input type='checkbox' name='goodTasks' value='twitter'>Using Twitter<br>
		<input type='checkbox' name='goodTasks' value='shopping'>Online shopping<br>
		<input type='checkbox' name='goodTasks' value='meetup'>Using Meetup<br>
		<input type='checkbox' name='goodTasks' value='word'>Word processing<br>
		<input type='checkbox' name='goodTasks' value='banking'>Online banking<br>
		<input type='checkbox' name='goodTasks' value='camera'>Using a digital camera<br>
		<input type='checkbox' name='goodTasks' value='photos'>Organising and editing digital photos<br>
		<input type='checkbox' name='goodTasks' value='phone'>Using a smart phone for online browsing, camera, etc<br>
		<input type='checkbox' name='goodTasks' value='layout'>How to create visual layouts for documents<br>
		<input type='checkbox' name='goodTasks' value='coding'>How design and build websites<br>
		Other (this could include specific websites like ebay  or a specific task like organising my calendar) <input type='text' name='goodTasks' value='other'><br>
		<input type='submit'>
</form>
<h2> Thanks </h2>

</body>